@charset "utf-8";

//Change Bulma default settings.
$primary: #331a44;
$family-sans-serif: Avenir-Light, Arial, Helvetica, sans-serif;
$modal-content-width: 1280px;


html {
  height: 100%;
}

body {
  min-height:100%;
  background-color: #040714 !important;
  background-image: url(https://dmgz-splash-static.bamgrid.com/splash/sections/splash/builds/e5529310ae77682c1bc714fc1d2d05b6ce2c969f_1574188188987/images/bg-large-v4.png) !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  color: #ffffff !important;
  font-family: Avenir-Light, Arial, Helvetica, sans-serif !important;
  /*background: content-box radial-gradient(#240f2c, #0c102b);*/
}

.box {
  border: 5px white solid;
  cursor: pointer;
}

.banner-box {
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/9663A3359F2928AB65491D91ADCAB3F78CB629529833374D674612871D62C25F/scale?aspectRatio=1.78&format=jpeg");
  height: 300px;
}

.box-tiles:hover {
  background-color: whitesmoke !important;
}

@import "../../node_modules/bulma/bulma.sass";